/* index.css */

/* Fundo geral do aplicativo */
body {
  background-color: #fffaf0; /* Um tom claro e acolhedor */
  font-family: 'Arial', sans-serif;
}

/* Título principal */
h1 {
  color: #d2691e; /* Tom de caramelo */
  font-family: 'Georgia', serif;
  text-shadow: 1px 1px #f5deb3; /* Sutil sombra para destaque */
}

/* Estilo dos cards */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fffaf0; /* Combina com o fundo geral */
}

/* Botões */
button {
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.btn-success {
  background-color: #6a9955; /* Tom de verde mais suave */
}

.btn-success:hover {
  background-color: #8dc78c; /* Efeito de hover */
}

.btn-danger {
  background-color: #cc3300;
}

.btn-warning {
  background-color: #ffc107;
}

/* Espaçamento entre os cards */
#receita-container .col-md-6 {
  margin-bottom: 20px;
}

/* Formulário */
#receita-form .form-control {
  border-radius: 8px;
}
